@charset "utf-8";


//Variables
$primary:#FA0678;
$primary-bg:#fde2ef;
$primary-dark:#b70357;
$primary-medium:#FFA5CF;
$black:#000000;
$dark:#000000;
$white:#ffffff;
$gray:#666666;
$gray-dark:#222222;
$gray-light:#D3D3D3;
$gray-bg:#F5F5F5;
$gray-line:#efefef;
$family-sans-serif: 'Inter', sans-serif;
$title-family:'domaine_display_narrowregular', Georgia, Times, 'Times New Roman', serif;
$title-weight:normal;
$body-color:$black;
$navbar-breakpoint:980px;
$link:$primary;


//pagination
$pagination-current-background-color:$black;
$pagination-color:$black;
$pagination-border-color:$black;
$pagination-hover-border-color:$primary;
$pagination-hover-color:$primary;

// Disable the widescreen breakpoint
$widescreen-enabled: false;
// Disable the fullhd breakpoint
$fullhd-enabled: false;

$radius:12px;

//Mixins
@mixin radius-top{
    -webkit-border-top-left-radius: 12px;
-webkit-border-top-right-radius: 12px;
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright: 12px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}

@mixin radius-bottom{
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 18px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 18px -9px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 18px -9px rgba(0,0,0,0.32);
}



//Bulma stuff
//@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma-steps-component/bulma-steps.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/layout/_all.sass";


//Custom
@import "modules/typography";
@import "modules/layout";
@import "modules/navigation";
@import "modules/buttons";
@import "modules/bulma-checkradio";
@import "modules/forms";
@import "modules/banners";
@import "modules/components";
@import "modules/cards";
@import "modules/tables";


h2, h3, p {
    margin-bottom: 1rem;
}

/* BANNER ENTRE TODAS */

.banner p.description {
  margin-bottom:0 !important;
}

/* COMMERCE CHECKOUT STEPS */

.checkout-progress--step::before {
    content: "" !important;
}

fieldset[data-drupal-selector="edit-payment-information"] {
    margin-top: 0 !important;
}

.table-cart .form-item {
    margin-bottom:0;
}

// Email input adjustment

input[type="email"]{
  height: 2.5rem;
}


//CUSTOM STYLES FOR WEBFORM BUTTONS

.webform-custom-options-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  
  .webform-custom-options-button {
    flex: 1;
    display: table-cell;
    margin: 0 5px 10px 5px;
    border: 1px solid #111;
    border-radius: 3px;
    //background-color: #fff;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    color: #666;
  }
  
  .webform-custom-options-button .description {
    font-size: .8em;
  }
  
  .webform-custom-options-button[data-option-value]:hover {
    border-color: #111;
    color: white;
    background-color: #111;
  }
  
  .webform-custom-options-button[data-option-value]:focus {
    border-color: #111;
    color: white;
    background-color: #111;
  }
  
  .webform-custom-options-button[data-option-value][aria-checked=true] {
    border-color: #111;
    color: white;
    background-color: #111;
  }
  
  .webform-custom-options-button[data-option-value][aria-checked=true]:focus {
    box-shadow: 0 0 5px #11191d;
  }
  
  .webform-custom-options-button[data-option-value][aria-disabled=true],
  .webform-custom-options-button[data-option-value][aria-disabled=true]:hover,
  .webform-custom-options-button[data-option-value][aria-disabled=true]:focus {
    cursor: not-allowed;
    border-color: #ccc;
    color: #999;
  }
  
  @media (max-width: 600px) {
    .webform-custom-options-buttons {
      display: block;
      margin: 0;
    }
  
    .webform-custom-options-button {
      display: block;
      margin: 5px 0;
    }
  }